<ion-view view-title="Choregraphie">

    <!--Nav Buttons left-->
    <ion-nav-buttons side="left">
        <button class="button button-small button-icon icon ion-ios-home" onclick="window.location.href='#/home'"></button>
        <button class="button button-small button-icon" onclick="window.location.href='#/avatar'">
            <img border="0" alt="Avatar" src="img/pixel-sitting.png" width="35" height="35">
        </button>
    </ion-nav-buttons>

    <!--Nav Buttons right-->
    <ion-nav-buttons side="right">
        <button class="button button-small button-icon icon ion-help" ng-click="showAlert()"></button>
        <button class="button button-small button-icon icon ion-ios-gear" onclick="window.location.href='#/account'"></button>
    </ion-nav-buttons>


    <ion-content class="padding">

        <h2>Welcome to choregraphy PAGE</h2>
        <p>
            <h3>Choisi ta musique</h3>
            <button class=" button button-positive" ng-disabled="music1Disabled" ng-click="setMusic1()">Magic system - Tu est fou !</button>
            <button class="button button-positive" ng-disabled="music2Disabled" ng-click="setMusic2()">Steam Phunk - Feelings</button>
            <button class="button button-positive" ng-disabled="music3Disabled" ng-click="setMusic3()">Bad pitched - Insanelike</button>

        </p>

        <p>
            <h3>Choisi tes mouvements et fait danser poppy !</h3>
            <!-- Drag and Drop -->
            <div class="container">

                <!-- Draggable objects -->
                <ul class="draggable-objects">
                    <li ng-if="true">


                        <div ng-drag="true" ng-drag-data="{name:'img/pixel-sitting.png' ,primitive:'left_arm_up_behave'}" data-allow-transform="true">

                            <img src="img/pixel-sitting.png" width="80" height="80">
                        </div>
                    </li>
                    <li ng-if="true">
                        <div ng-drag="true" ng-drag-data="{name:'img/football.png',primitive:'question_behave'}" data-allow-transform="true">
                            <img src="img/football.png" width="80" height="80">
                        </div>
                    </li>
                    <li ng-if="true">
                        <div ng-drag="true" ng-drag-data="{name:'img/pixel-computer.png',primitive:'hunkers_behave'}" data-allow-transform="true">
                            <img src="img/pixel-computer.png" width="80" height="80">
                        </div>
                    </li>
                </ul>
            </div>

            <div class="row">
                <!-- Dropzones -->
                <div class="row">
                    <div class="col">
                        <div ng-drop="true" ng-drop-success="onDropComplete1($data,$event)">
                            <span class="title">Move #1</span>

                            <div ng-repeat="obj in droppedObjects1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess1($data,$event)" ng-center-anchor="{{centerAnchor}}" >
                                <img ng-src="{{obj.name}}" width="80" height="80">

                            </div>
                        </div>
                    </div>


                    <div class="col">

                        <div ng-drop="true" ng-drop-success="onDropComplete2($data,$event)">
                            <span class="title">Move #2</span>

                            <div ng-repeat="obj in droppedObjects2" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess2($data,$event)" ng-center-anchor="{{centerAnchor}}">
                                <img ng-src="{{obj.name}}" width="80" height="80">
                            </div>
                        </div>
                    </div>

                    <div class="col">

                        <div ng-drop="true" ng-drop-success="onDropComplete3($data,$event)">
                            <span class="title">Move #3</span>

                            <div ng-repeat="obj in droppedObjects3" ng-drag="true" ng-drag-data="obj"ng-drag-success="onDragSuccess3($data,$event)" ng-center-anchor="{{centerAnchor}}">
                                <img ng-src="{{obj.name}}" width="80" height="80">
                            </div>
                        </div>
                    </div>

                    <div class="col">

                        <div ng-drop="true" ng-drop-success="onDropComplete4($data,$event)">
                            <span class="title">Move #4</span>

                            <div ng-repeat="obj in droppedObjects4" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess4($data,$event)" ng-center-anchor="{{centerAnchor}}">
                                <img ng-src="{{obj.name}}" width="80" height="80">
                            </div>
                        </div>
                    </div>


                    <!--Play button -->
                    <div class="col">
                        <button class="button center" ng-disabled="isDisabled" ng-click="playAudio();disableButton()">
                            <img border="0" alt="PlayButton" src="img/play_red.png" width="98" height="98">
                        </button>
                    </div>
                </div>


            </div>

        </div>
    </p>











</ion-content>
</ion-view>
