/* Empty. Add your own CSS if you like */
.weather-home {
    background-image: url('../img/background/sphere3.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    flex: 1;
    flex-direction: column;
}
.overlay {
    padding-top: 5px;
    background-color: #000000;
    opacity: 0.5;
    flex-direction: column;
    align-items: center;
}

.forecast {
    align-items: center;
    flex-direction: column;
}

.bigText {
    flex: 2;
    font-size: 20px;
    text-align: center;
    margin: 5px;
    color: #FFFFFF;
}

.mainText {
    flex: 1;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}
.ion-ios-gear{
    color:  #444 !important;
}
.input-label {
    color: #ffffff;
}

input[type="text"] {
    color: #FFFFFF;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
[ng-drag] {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
[ng-drag] {
    width: 98px;
    height: 98px;
    background: rgba(20, 0, 185, 0.5);
    color: white;
    text-align: center;
    padding-top: 10px;
    display: inline-block;
    margin: 0px;
    cursor: move;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
}
ul.draggable-objects:after {
    display: block;
    content: "";
    clear: both;
}
.draggable-objects li {
    float: left;
    display: block;
    width: 120px;
    height: 100px;
}
[ng-drag].drag-over {
    border: solid 1px red;
}
[ng-drag].dragging {
    opacity: 0.5;
}
[ng-drop] {
    background: rgba(255,255, 255, 0.5);
    text-align: center;
    width: 110px;
    height: 110px;
    /*display: block;*/
    margin: 0px auto;
    position: relative;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border: 6px solid #859684;
    float: left;
}
[ng-drop].drag-enter {
    border: solid 5px red;
}
[ng-drop] span.title {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 20px;
    margin-left: -100px;
    margin-top: -10px;
}
[ng-drop] div {
    position: relative;
    z-index: 2;
}
