/* Empty. Add your own CSS if you like */
.weather-home {
    background-image: url('../img/background/weather-font.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    flex: 1;
    flex-direction: column;
}
.overlay {
    padding-top: 5px;
    background-color: #000000;
    opacity: 0.5;
    flex-direction: column;
    align-items: center;
}

.forecast {
    align-items: center;
    flex-direction: column;
}

.bigText {
    flex: 2;
    font-size: 20px;
    text-align: center;
    margin: 5px;
    color: #FFFFFF;
}

.mainText {
    flex: 1;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}
.ion-ios-gear{
    color:  #444 !important;
}
.input-label {
    color: #ffffff;
}

/* Css Avatars */
.avatar-button {
    background-color: #FFFFFF;
    border: none;
    color: white;
    padding: 30px 32px;
}


.avatar-button:active {
    transform: translateY(4px);
}

input[type="text"] {
    color: #FFFFFF;
}
/* Css Drag & Drop */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
[ng-drag] {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
[ng-drag] {
    width: 98px;
    height: 98px;
    background: rgba(20, 0, 185, 0.5);
    color: white;
    text-align: center;
    padding-top: 10px;
    display: inline-block;
    margin: 0px;
    cursor: move;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
}
ul.draggable-objects:after {
    display: block;
    content: "";
    clear: both;
}
.draggable-objects li {
    float: left;
    display: block;
    width: 120px;
    height: 100px;
}
[ng-drag].drag-over {
    border: solid 1px red;
}
[ng-drag].dragging {
    opacity: 0.5;
}
[ng-drop] {
    background: rgba(255,255, 255, 0.5);
    text-align: center;
    width: 110px;
    height: 110px;
    /*display: block;*/
    margin: 0px auto;
    position: relative;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border: 6px solid #859684;
    float: left;
}
[ng-drop].drag-enter {
    border: solid 5px red;
}
[ng-drop] span.title {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 20px;
    margin-left: -100px;
    margin-top: -10px;
}
[ng-drop] div {
    position: relative;
    z-index: 2;
}


/*Css icones de home */
.link__thumbnails__thumbnail {
    cursor: pointer;
    float: left;
    width: 24%;
    height: 250px;
    position: relative;
    overflow: hidden;
    margin-right: 1%;
    margin-bottom: 15px;
}
@media only screen and (max-width: 1275px)
.link__thumbnails__thumbnail {
    width: 32% !important;
    max-width: 330px;
    margin-right: 0 !important;
}
.thumbnail__title {
    position: absolute;
    left: 8px;
    bottom: -16px;
    background: rgba(255, 255, 255, 0.8);
    width: 70%;
    height: 65px;
    transform: skew(-11deg, -4deg);
    transition-duration: 0.3s;
}

.thumbnail-img{
    border-radius: 25px;

}

/* Navbar css*/
.mynavbar{
    height: 60px !important;
}
.bar .button.button-icon:before, .bar .button .icon:before, .bar .button.icon:before, .bar .button.icon-left:before, .bar .button.icon-right:before, .bar button.button-icon:before, .bar button .icon:before, .bar button.icon:before, .bar button.icon-left:before, .bar button.icon-right:before {
    font-size:50px !important;
}
.has-header{
    top:60px;
}
.title{

}

.bar .title {
    padding-top: 2px;
    padding-bottom: 2px;
    height: 60px;
}
h1.Welcoming-title {
    color: #11c1f3;
    font-family: 'Righteous', 'Arial';
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
    text-shadow: 2px 2px 0 #444,
    margin: 0px 0 10px;
    text-align: center;
}
